h1 {
  color: blue;
}

.container {
 display: flex;
 width: 95%;
 height: 95%;
 clear: both;
}

img {
  /* justify-content: center; */
  /* margin: 0 auto; */
  position: relative;
  width: 80%;
  height: 90%;
  margin: auto;
  margin-right: -200px;
  z-index: -1;
}

.info {
  justify-content: flex-end;
  margin-top: 150px;
  margin-right: 100px;
  margin-left: -300px;
  z-index: 1;
}
